.boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--about {
        @media (min-width: $breakpoint-md) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &--journey {
        @media (min-width: $breakpoint-md) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &--faq {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.box {
    $journey-border-color: #e2e2e2;
    $journey-border: 0.5px solid $journey-border-color;
    $journey-width-breakpoint-md: 40vw;
    $pricing-width-breakpoint-sm: 35vw;
    $pricing-width-breakpoint-lg: 25vw;
    $btn-pricing-padding: 5px 12px;
    $faq-box-breakpoint-sm-width: 37vw;
    $about-breakpoint-md-width: 24vw;

    background-color: $bg-light;
    color: $txt-color-dark;
    margin-bottom: $box-margin-bottom;
    padding: $box-padding;
    border-radius: $border-radius-lg;

    &--about {
        @media (min-width: $breakpoint-md) {
            width: $about-breakpoint-md-width;
        }
    }

    &__tittle {
        font-size: $fz-18;
        font-weight: $fw-bold;
        margin-bottom: $box-margin-bottom;
        margin-top: $box-margin-top;
    }
    &__text {
        line-height: $lh-more;
        color: $txt-gray;
    }

    &--journey {
        border: $journey-border;
        background-color: $bg-white;
        @media (min-width: $breakpoint-md) {
            width: $journey-width-breakpoint-md;
        }
    }

    &--pricing {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @media (min-width: $breakpoint-sm) {
            width: $pricing-width-breakpoint-sm;
        }
        @media (min-width: $breakpoint-lg) {
            width: $pricing-width-breakpoint-lg;
        }

        &-standard {
            background-color: $bg-purple;
            color: $txt-color-light;
        }
        &-multi {
            background-color: $bg-orange;
        }
        &-extended {
            background-color: $bg-dark;
            color: $txt-color-light;
        }
    }
    &__type {
        font-size: $fz-20;
        font-weight: $fw-bold;
        margin-bottom: $box-margin-bottom;
    }
    &__price {
        font-size: $fz-h2;
        font-weight: $fw-bold;
        margin-bottom: $box-margin-bottom;
    }
    &__for {
        margin-bottom: $box-margin-bottom;
    }
    &__btn {
        background-color: $bg-dark;
        color: $txt-color-light;
        border-radius: $border-radius-sm;
        font-size: $fz-standard;
        padding: $btn-pricing-padding;

        &--extended {
            border-radius: $border-radius-lg;
            background-color: $bg-light;
            color: $txt-color-dark;
        }
    }
    &__action {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &--faq {
        @media (min-width: $breakpoint-sm) {
        width: $faq-box-breakpoint-sm-width;
        }
    }
    &__question {
        font-weight: $fw-bold;
        margin-bottom: $box-margin-bottom;
    }
    &__answer {
        font-size: $fz-14;
    }


}