$fw-btn: 500;
$border-radius-btn: 3rem;
$padding-btn: 12px 20px;

.btn {
    background-color: $bg-light;
    color: $txt-color-dark;
    border-radius: $border-radius-btn;
    font-size: $fz-standard;
    line-height: $lh-more;
    padding: $padding-btn;
    font-weight: $fw-btn;
    border: none;

    &--getstarted {
        border-radius: $border-radius-lg;
    }
}
