.container {
    $container-width: 100%;
    $container-border: 4px solid white;
    $container-padding: 100px 12px 40px 12px;
    $container-padding-breakpoint-sm: 100px 13vw 40px 13vw;
    $container-padding-breakpoint-md: 100px 5vw 40px 5vw;

    max-width: $container-width;
    border: $container-border;
    padding: $container-padding;
    border-radius: $border-radius-xl;
    height: auto;

    &--welcome {
        background-image: $bg-gradient;
        color: $txt-color-light;
        @media (min-width: $breakpoint-sm) {
            padding: $container-padding-breakpoint-sm;
        }
        @media (min-width: $breakpoint-md) {
            padding: $container-padding-breakpoint-md;
        }
        @media (min-width: $breakpoint-lg) {
            display: flex;
            flex-direction: column;
            padding-bottom: 0;
        }
    }
    &--about {
        background-color: $bg-dark;
        color: $txt-color-light;
    }
    &--getstarted {
        background-image: $bg-gradient-dark;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        flex-wrap: nowrap;
    }
    &--faq {
        background-color: $bg-light;
    }
    &--journey-heading {
        @media (min-width: $breakpoint-lg) {
        display: flex;
        }
    }
}