// EXAMPLES SECTION
.examples {
    &__element {
        font-weight: $fw-bold;
        line-height: $lh-more;
    }
    &__container--img {
        $container-img-padding: 30px 0 0 30px;
        $container-img-margin: 30px 0 80px 0;

        background-color: $bg-purple;
        max-width: $section-max-width;
        padding: $container-img-padding;
        border-radius: $border-radius-lg;
        margin: $container-img-margin;
        height: auto;
        display: flex;

        &-orange {
            background-color: $bg-orange;
        }
    }
    &__img {
        width: 100%;
        right: 0;
        bottom: 0;
    }
}
// JOURNEY SECTION
.journey {
    &__text {
        color: $txt-gray;
        font-size: $fz-20;
        
        &-color {
        color: $txt-orange;
        font-size: $header-1-font-size;
        margin-bottom: $box-margin-bottom;
        margin-top: $box-margin-top;
        }
    }
    &__numbers {
        margin-bottom: $box-margin-bottom;
    }
    &__point {
        display: flex;
        align-items: center;

        &-tittle {
            $tittle-padding-left: 20px;
            font-size: $fz-20;
            font-weight: $fw-semi-bold;
            padding-left: $tittle-padding-left;
            line-height: $lh-more;

        }
        &-text {
            margin-bottom: $box-margin-bottom;
        }
    }
}
