$header-1-font-size: 2.7rem;
$header-responsive-font-size: clamp(1.5625rem, 1.0625rem + 2.5vw, 3rem);
$header-responsive-line-height: clamp(2.1875rem, 1.6005rem + 2.9348vw, 3.875rem);


    .heading {

        &__primary {
            font-size: $header-1-font-size;
            color: $txt-color-light;
            line-height: $h1-lh;
            font-weight: $fw-bold;
            margin-bottom: 20px;
        }

        &__minor {
            font-size: $fz-18;
            color: $txt-color-light;
            line-height: $lh-more;
            font-weight: $fw-standard;
            margin-bottom: 40px;
            max-width: 95vw;
        }

        &__color {
            font-size: $fz-standard;
            color: $link-color;
            line-height: $lh-standard;
            font-weight: $fw-bold;
            text-transform: uppercase;
        }
    }

    