    .heading {
        $examples-breakpoint-md-width: 50vw;
        $welcome-breakpoint-lg-width: 60vw;
        &--welcome {
            @media (min-width: $breakpoint-lg) {
                max-width: $welcome-breakpoint-lg-width;
            }
        }

        &__primary {
            font-size: $header-1-font-size;
            color: $txt-color-light;
            line-height: $header-lh;
            font-weight: $fw-bold;
            margin-bottom: $header-margin-bottom;

            &--examples {
                color: $txt-color-dark;
                @media (min-width: $breakpoint-md) {
                    max-width: $examples-breakpoint-md-width;
                }
            }
            &--build {
                color: $txt-color-dark;
                font-size: $header-second-font-size;
                margin-bottom: 0;
            }
            &--journey {
                color: $txt-color-dark;
            }
            &--pricing {
                color: $txt-color-dark;
            }
            &--faq {
                color: $txt-color-dark;
            }
        }
        &__minor {
            font-size: $fz-18;
            color: $txt-color-light;
            line-height: $lh-more;
            font-weight: $fw-standard;
            margin-bottom: $header-margin-bottom;

            &--about {
                color: $txt-gray;
            }
            &--build {
                color: $txt-color-dark;
                font-size: $fz-standard;
            }
            &--pricing {
                color: $txt-color-dark;
            }
            &--faq {
                color: $txt-color-dark;
            }
        }
        &__color {
            font-size: $fz-standard;
            color: $link-color;
            line-height: $lh-standard;
            font-weight: $fw-bold;
            text-transform: uppercase;
            margin-bottom: $header-margin-bottom;

            &--build {
                margin-bottom: 0;
            }

            &--customization {
                color: $txt-orange;
                margin-bottom: 0ds;
            }
        }
        &__link {
            text-decoration: none;
            color: $link-color;
            cursor: pointer;
        }
        &__link:hover {
            color: $link-color-hover;
        }

        &--pricing {
            text-align: center;
        }
    }

    