    .navbar {
        $navbar-height: 56px;
        $navbar-margin: 12px;

        height: $navbar-height;
        background-color: $bg-dark;
        margin: $navbar-margin;
        border-radius: $border-radius-xl;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;

        &__list {
            display: none;
        }

        &__link {
            display: none;
        }

        &__btn {
            display: none;
        }
    }

    .logo {
        $logo-height: 40px;
        $logo-padding-left: 20px;

        &__link {
            padding-left: $logo-padding-left;
        }

        &__img {
            height: $logo-height;
        }
    }

    .fa-bars {
        $burger-padding-right: 20px;

        color: $txt-color-light;
        font-size: $fz-20;
        padding-right: $burger-padding-right;
    }


